.product-page {
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #FFF;
  }
  
  .product-page img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 16px 0;
  }
  
  .product-page p {
    font-size: 16px;
    margin: 12px 0;
  }
  
  .product-page button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #666;
    }
  }


  .image-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-gallery img {
    width: 33.33%;
    object-fit: cover;
    border-radius: 5px;
  }

  .product-page {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .prod-image {
    width: 45%; 
    height: auto; 
  }
  
  .prod-details {
    width: 45%;
    padding: 2rem; 
  }
  
  /* For screens that are 480px or smaller */
  @media (max-width: 480px) {
    .prod-image,
    .prod-details {
      width: 100%;
    }

    .product-page {
      display: flex;
      height: 800px;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      background-color: #FFF;
      padding-top: 100px;
    }

    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      padding-top: 1rem;
    }

  }

.buttons {
    position: absolute;
    width: 120px;
    height: 60px;
    cursor: pointer;
    background-color: #4caf91;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    top: 250px;
  }
  
  