.product-page {
    display: flex;
    height: 500px;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #FFF;
  }
  
  .product-page img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 16px 0;
  }
  
  .product-page p {
    font-size: 16px;
    margin: 12px 0;
  }
  
  .product-page button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #666;
    }
  }


  .image-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-gallery img {
    width: 33.33%;
    object-fit: cover;
    border-radius: 5px;
  }

  .product-page {
    display: flex; /* use flex layout */
    flex-wrap: wrap; /* allow items to wrap to the next line */
    justify-content: space-between; /* distribute items evenly along the main axis */
  }
  
  .prod-image {
    width: 45%; /* set the width to 45% of the container */
    height: auto; /* keep the aspect ratio of the image */
  }
  
  .prod-details {
    width: 45%; /* set the width to 45% of the container */
  }
  
  /* For screens that are 480px or smaller */
  @media (max-width: 480px) {
    .prod-image,
    .prod-details {
      width: 100%; /* set the width to 100% of the container */
    }

    .product-page {
      display: flex;
      height: 500px;
      // flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      background-color: #FFF;
      padding-top: 100px;
    }

  }
  