.shopping-cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: wheat;
  }
  
  .shopping-cart-summary p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .shopping-cart-summary ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .shopping-cart-summary li {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .shopping-cart-summary button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #0074d9;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .shopping-cart-summary button:hover {
    background-color: #005fbf;
  }
  