#shopping-cart-popup {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  width: 800px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  // position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 5000;
}

#shopping-cart-popup h1 {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0 0 20px 0;
}

#shopping-cart-popup h5 {
  font-size: 18px;
  font-family: sans-serif;
  margin: 0 0 10px 0;
}

#shopping-cart-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#shopping-cart-popup li {
  font-size: 16px;
  font-family: sans-serif;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#shopping-cart-popup button {
  background-color: #4caf91;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#shopping-cart-popup button:hover {
  background-color: #3f9c80;
}

@media (max-width: 600px) {
  #shopping-cart-popup {
    width: 90%;
  }
}
