.filterable-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    left: 10px;
    top: 130px
  }
  
  select {
    background-color: white;
    color: #5A5A5A;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    width: 64px;
    appearance: none;
    outline: none;
    margin-right: 10px;
  }
  
  select:hover {
    border-color: #999;
  }
  
  select:focus {
    border-color: #4caf50;
  }
  
  option[disabled] {
    color: #ccc;
  }
  